<div class="example-container">
  <mat-expansion-panel expanded style="margin:5px">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Search
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="example-container">
      <mat-form-field>
        <mat-label>Element</mat-label>
        <input matInput placeholder="Element" (keyup)="onSearch($event)">
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel expanded style="margin:5px">
    <mat-expansion-panel-header>
      <mat-panel-title>
        List
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <!-- <app-search-result [data]="dataSource"></app-search-result> -->
      <app-search-result [data]="dataSource"></app-search-result>
    </div>
  </mat-expansion-panel>
</div>